html, body {
  height: 100%;
}

h1, h2 {
  margin: 0;
}

table {
  td {
    vertical-align: middle !important;
  }
}

svg {
  fill: currentColor;
}

.no-select {
  user-select: none;
}

.video-name {
  max-width: 20rem;
  min-width: 10rem;
  white-space: pre-line;
}

.graph {
  height: 500px;
}
